@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap");
html::-webkit-scrollbar {
  width: 0.6rem;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 0.2rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(45deg, #7f1ec1 25%, #fd1d1d 82%);
  font-family: 'Roboto Slab', serif;
}

.box {
  background: linear-gradient(45deg, #7f1ec1 25%, #fd1d1d 82%);
  height: 100vh;
  width: 100%;
}

.calcbox {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem auto;
  border: solid;
  border-radius: 1rem;
  max-width: 35%;
  padding: 1rem;
}

.calcbox .resultbox {
  text-align: right;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  text-align: right;
  border-radius: 0.5rem;
  padding: 0 3rem;
  margin: auto;
}

.calcbox .historybox {
  min-height: 2rem;
}

.calcbox .historybox .historytext {
  font-size: medium;
  color: #504545;
}

.calcbox .outputbox {
  min-height: 3rem;
}

.calcbox .outputbox .outputtext {
  color: black;
  font-size: x-large;
  font-weight: bolder;
}

.calcbox .break {
  background-color: black;
  height: 1px;
  width: 100%;
}

.calcbox .buttonbox {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calcbox .buttonbox .block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.calcbox .buttonbox .block .equal {
  padding: 1rem 1.2rem;
}

.calcbox .buttonbox .operatorbox {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.calcbox .buttonbox .operator {
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 1.3rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.calcbox .buttonbox .operator:hover {
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.calcbox .buttonbox .button {
  text-align: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  display: inline;
  font-size: larger;
  border-radius: 1rem;
  width: 20%;
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.calcbox .buttonbox .button:hover {
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.calcbox .buttonbox .clearbox {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calcbox .buttonbox .clear {
  font-weight: bolder;
  border-radius: 1rem;
  padding: 2rem  1rem;
  border: 2px solid;
  margin: 1rem auto;
}

.calcbox .buttonbox .clear:hover {
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.calcbox .buttonbox .block-last {
  padding: 0.7rem;
  text-align: right;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}
/*# sourceMappingURL=style.css.map */