
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap');

html::-webkit-scrollbar{
    width: 0.6rem;   
}
html::-webkit-scrollbar-track{
    background-color: black;
}
html::-webkit-scrollbar-thumb{
    background-color:darkred;
    border-radius: 0.2rem;
}

 body{
     margin: 0;
     padding: 0;
     width: 100%;
     min-height: 100%;
     background: linear-gradient(45deg, rgba(127,30,193,1) 25%, rgba(253,29,29,1) 82%);
    font-family: 'Roboto Slab', serif;
    &::before{
        content: "";
        background: #ad5389;  
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
        background: linear-gradient(to right, #3c1053, #ad5389); 
        position: fixed;
        padding: 4.5rem;
        z-index: -1;
        border-radius: 50%;
        top: -1rem;
        right: 18rem;
    }
    &::after{
        content: "";
        background: #ad5389; 
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
        background: linear-gradient(to right, #3c1053, #ad5389); 
        position: fixed;
        padding: 3rem;
        z-index: -1;
        border-radius: 50%;
        bottom: 3rem;
        left: 19rem;
    }
 }

@mixin align($textalign,$alignitems,$justifycont){
    text-align: $textalign;
    align-items: $alignitems;
    justify-content: $justifycont;
}

@mixin buttonhov($backcolor){
    background-color:$backcolor;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1);
    transition: all 0.4s;
}
.box{
    height: 100vh;
    width: 100%;
    &::before{
        content: "";
        background: #333333;  
        background: -webkit-linear-gradient(to right, #dd1818, #333333);
        background: linear-gradient(to right, #dd1818, #333333);
        z-index: -1;
        position: fixed;
        top: -18rem;
        left: 10rem;
        padding: 15rem;
        border-radius: 50%;
    }
    &::after{
        content: "";
        background: #333333; 
        background: -webkit-linear-gradient(to right, #dd1818, #333333);  
        background: linear-gradient(to right, #dd1818, #333333); 
        z-index: -1;
        position: fixed;
        bottom: -2rem;
        right: 13rem;
        padding: 9rem;
        border-radius: 50%;
    }
    .bubble{
        &::after{
        content: "";
        background: #ad5389;  
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
        background: linear-gradient(to right, #3c1053, #ad5389); 
        position: fixed;
        padding: 1rem;
        z-index: -2;
        border-radius: 50%;
        top: 6rem;
        right: 18rem;
        }
        &::before{
        content: "";
        background: #ad5389; 
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
        background: linear-gradient(to right, #3c1053, #ad5389); 
        position: fixed;
        padding: 6rem;
        z-index: -1;
        border-radius: 50%;
        top: 7rem;
        left: 10rem;
        }
    }
}
.calcbox{
    @include align(center,center,center);
    margin: 5rem auto;
    border-radius: 1rem;
    max-width:35%;
    padding: 1rem;
    z-index: 10;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    .resultbox{
        @include align(right,none,none);
        text-align: right;
        border-radius: 0.5rem;
        padding: 0 3rem;
        margin: auto;
    }
    .historybox{
        max-width: 100%;
        min-height: 2rem;
        .historytext{
            font-size:medium;
            color:rgb(34, 32, 32);
        }
    }
    
    .outputbox{
        min-height: 3rem;
        .outputtext{
            color: black;
            font-size: x-large;
            font-weight: bolder;
        }
    }
    .break{
        background-color: black;
        height: 1px;
        width: 100%;
    }
    .buttonbox{
        @include align(center,center,center);
        display: flex;
        .block{
            justify-content: space-between;
            margin-top: 1rem;
            // .equal{
            //     padding: 1rem 1.2rem;
            // }
        }
        .operatorbox{
            @include align(center,center ,center );
            padding: 0.5rem;
        }
        .operator{
            border: 1.5px solid;
            border-radius: 50%;
            text-align: center;
            margin-top: 0.5rem;
            padding: 1rem 1.3rem;
            transform: scale(0.8);
            &:hover{
                @include buttonhov(rgba(255,255,255,0.3));
                transform: scale(1)
            }
        }
        .button{
            @include align(center,none,none );
            display: inline;
            font-size: larger;
            border-radius: 1rem;
            padding: 1rem 1.5rem;
            transition: all 0.3s;
            &:hover{
                @include buttonhov(rgba(255,255,255,0.3));
            }
        }
        .clearbox{
            @include align(center,center ,center );
        }
        .clear{
            font-weight: bolder;
            border-radius: 1rem;
            padding:2rem  1rem;
            border: 1.5px solid;
            margin: 1rem auto;
            &:hover{
                @include buttonhov(rgba(255,255,255,0.3));
                transform: scale(1.1);
            }
        }
        .block-last{
            // padding: 0.7rem;
            margin-top: 1rem;
            @include align(right,none ,none )
        }
    }
}
