
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Source+Sans+Pro:wght@300&family=Titillium+Web&family=Vujahday+Script&display=swap');

html::-webkit-scrollbar{
    width: 0.6rem;   
}
html::-webkit-scrollbar-track{
    background-color: black;
}
html::-webkit-scrollbar-thumb{
    background-color:darkred;
    border-radius: 0.2rem;
}



 body{
     margin: 0;
     padding: 0;
     width: 100%;
     min-height: 100%;
     background: linear-gradient(45deg, rgba(127,30,193,1) 25%, rgba(253,29,29,1) 82%);
     //  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/resources/backimg.jpg);
    //  font-family: 'Lora', serif;
    font-family: 'Roboto Slab', serif;
 }


@mixin align($textalign,$alignitems,$justifycont){
    text-align: $textalign;
    align-items: $alignitems;
    justify-content: $justifycont;
}

@mixin buttonhov($backcolor){
    background-color:$backcolor;
    cursor: pointer;
    transition: all 0.4s;
}
.box{
    background: linear-gradient(45deg, rgba(127,30,193,1) 25%, rgba(253,29,29,1) 82%);
    height: 100vh;
    width: 100%;
}
.calcbox{
    @include align(center,center,center);
    margin: 4rem auto;
    border: solid;
    border-radius: 1rem;
    max-width:35%;
    padding: 1rem;
    .resultbox{
        @include align(right,none,none);
        text-align: right;
        border-radius: 0.5rem;
        padding: 0 3rem;
        margin: auto;
    }
    .historybox{
        min-height: 2rem;
        .historytext{
            font-size:medium;
            color: rgb(80, 69, 69);
        }
    }
    
    .outputbox{
        min-height: 3rem;
        .outputtext{
            color: black;
            font-size: x-large;
            font-weight: bolder;
        }
    }
    .break{
        background-color: black;
        height: 1px;
        width: 100%;
    }
    .buttonbox{
        
        @include align(center,center,center);
        display: flex;
        .block{
            justify-content: space-between;
            // padding: 2rem;
            margin: 1rem;
            .equal{
                padding: 1rem 1.2rem;
            }
        }
        .operatorbox{
            @include align(center,center ,center );
            padding: 0.5rem;
        }
        .operator{
            border: 2px solid;
            border-radius: 50%;
            text-align: center;
            margin: 1rem auto;
            padding: 1rem 1.3rem;
            transform: scale(0.8);
            &:hover{
                @include buttonhov(white);
                transform: scale(1)
            }
        }
        .button{
            @include align(center,none,none );
            display: inline;
            font-size: larger;
            border-radius: 1rem;
            width: 20%;
            padding: 1rem 1.5rem;
            // border: 1px solid;
            margin: 0.5rem ;
            transition: all 0.3s;
            &:hover{
                @include buttonhov(white);
            }
        }
        .clearbox{
            @include align(center,center ,center );
        }
        .clear{
            font-weight: bolder;
            border-radius: 1rem;
            padding:2rem  1rem;
            border: 2px solid;
            margin: 1rem auto;
            &:hover{
                @include buttonhov(white);
                transform: scale(1.1);
            }
        }
        .block-last{
            padding: 0.7rem;
            @include align(right,none ,none )
        }
    }
}
